/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik Doodle Shadow", Arial, Helvetica, sans-serif;
  line-height: 1.7;
  /* background-color: #0f5759; */
  background-color: #0e3601;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.8rem;
  background-color: #fff;
  color: #0e3601;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #e0e0e0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

/* Navbar */
.navbar {
  background-color: #0e3601; /* Navbar background */
  font-family: "Rubik Doodle Shadow";
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Position it at the very top of the page */
  left: 0; /* Ensure it's aligned to the left edge */
  width: 100%; /* Ensure it spans the full width of the viewport */
  z-index: 1000; /* Make sure it stays above other content */
}

.navbar a {
  color: #fff; /* Navbar link color */
  text-decoration: none;
  margin: 0 1rem;
  font-size: 2rem;
  font-family: "Rubik Doodle Shadow";
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ff9ea5;
}

/* Home Page */
.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns layout */
  gap: 2rem;
  padding: 3rem 1rem 1rem 1rem; /* Add padding to the home container (top and sides) */
  margin-top: 4rem; /* Adds space between the navbar and the cards */

}

.project-cards-container {
  grid-column: span 3;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.cards {
  border: 1px solid #84363d;
  font-family: Geneva, Verdana, sans-serif;
  width: 80%;
  margin-top: 2em;
  max-width: 300px;
  border-radius: 10px;
  padding: 15px;
  background-color: #ff9ea5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.cards:hover {
  transform: scale(1.05);
}

.cards img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.cards h3 {
  font-size: 1.3rem;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

.cards a {
  text-decoration: none;
}

.cards p {
  font-size: 1rem;
  margin-top: 10px;
  color: #0b2d01;
}

.project-details {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack child elements in a column */
  justify-content: center; /* Center elements vertically */
  align-items: center; /* Center elements horizontally */
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff9ea5;
  font-family: Geneva, Verdana, sans-serif;
  margin-top: 8rem;
  border-radius: 10px;
  padding: 15px;
  background-color: #ff9ea5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 50%;
  max-width: 600px; 
}

.card-details img {
  width: 80%;
  height: auto;
  padding: 15 px;
  margin-bottom: 15px;
  border-radius: 8px;
}


.card-details h3 {
  font-size: 1.3rem;
  margin-top: 10px;
  color: #fff;
}

.card-details a {
  text-decoration: none;
}

.card-details p {
  font-size: 1rem;
  margin-top: 10px;
  color: #0b2d01;
}

/* Forms */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  background-color: #ff9ea5;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-top: 8rem; /* Add margin-top to create space between form and navbar */
  max-width: 600px; /* Set a maximum width for the form */
  width: 50%; /* Make the form responsive, taking up 90% of the screen on smaller devices */
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #0b2d01;
}

form input,
form select {
  width: 100%;
  padding: 8px;
  margin: 0.8rem 0;
  border-radius: 8px;
  border: 1px solid #fff;
  font-size: 1rem;
}

form input:focus {
  border-color: #ff9ea5;
  box-shadow: 0 0 5px rgba(61, 82, 160, 0.3);
}


/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a {
    margin: 0.5rem 0;
  }

  .home {
    grid-template-columns: 1fr;
    padding-top: 280px;
  }

  .card {
    grid-column: span 1; /* Adjust for mobile screens */
    padding-top: 20px;
  }

  .form-container {
    padding-top: 200px;
  }
}